<html>
<head>
	<title>Start</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/startcss.css" rel="stylesheet">
	<link href="/css/indexcss.css" rel="stylesheet">
	<script src="/js/script.js" type="text/javascript"></script>


</head>

<body>
	<div class="container">
		<h1 class="web_name_start">AddWorkout</h1>
		<div class="interval_container">
			<label id="input_timer">Interval per Minute(1-10):</label>
			<br>
			<input type="number" id="input" onclick="clear()" min="1" max="10">
	    	<button id="input_btn" onclick="intervalTime()">Submit</button>
	    	<h1 id="textChange">Your Minute Interval is:</h1>
	    </div>
	    <span id="myspan1">0</span>

	    <div class="exercises_contain">
			<label id="exer_title">How many exercises are you doing(Choose 1-6)</label>
			<br>
			<input type="number" id="exer_input" onclick="clear()" min="1" max="6">
	       <button id="exer_btn" onclick="exerciseCount()">Submit</button>
	       <h1>Your total exercises are: </h1>
	    </div>
	    <span id="myspan2">0</span>
	</div>
		<br><button id="back_btn2" onclick="window.history.back()"><a href="">Save</a></button>
	</div>

</body>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
