<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet">
	{{> google}}
</head>

<body>
	<!--HEADER-->
		<header>
			<div id="app_title">
				<h1>P91</h1>
			</div>
		</header>


		<!--Perset Workouts-->
		<div class="myexercises">
			
			<button id="addworkout_btn"><a href="add">Add Workout</a></button>
			<h3>History</h3>
			<ul id="all_exer">
				<li>Hello</li>
			</ul>
		</div>

		<div class="home-btn">
			<ul>
				{{#each Nav}}
				<button id="app_btn"><a href="{{path}}">{{name}}</a></button>
				{{/each}}
			</ul>
		</div>

		<div class="presetWorkout">
			<h3>Our App Creates Pre-Made Workouts for you!</h3>
			<button id="preworkout_btn"><a href="premade">Sign Up for Pre Made Workouts</a></button>
		</div>
			










</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
