<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135197093-1', 'auto');
ga('send', 'pageview');
</script>
</head>

<body>
	<!--HEADER-->
		<header>
			<div id="app_title">
				<h1>P91</h1>
			</div>
		</header>


		<!--Perset Workouts-->
		<div class="myexercises">
			<h3>History</h3>
			<button id="addworkout_btn"><a href="add">Add Workout</a></button>
			<ul id="all_exer">
				<li>Hello</li>
			</ul>
		</div>

		<div class="home-btn">
			<ul>
				{{#each Nav}}
				<button id="app_btn"><a href="{{path}}">{{name}}</a></button>
				{{/each}}
			</ul>
		</div>








</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
