<html>
<head>
	<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190568358-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet">
	{{> google}}
</head>

<body>
	<!--HEADER-->
		<header>
			<div id="app_title">
				<h1>P91X</h1>
			</div>
		</header>


		<!--Perset Workouts-->
		<div class="myexercises">

			
			
			<button id="addworkout_btn"><a href="add">Add Workout</a></button>
			<h4>History</h4>

			<!--<button id="addworkout_btn"><a href="add">Add Workout</a></button>
			<h3>History</h3>-->


			<ul id="all_exer">
			</ul>
		</div>

		<div class="home-btn">
			<ul>
				{{#each Nav}}
				<button id="app_btn"><a href="{{path}}">{{name}}</a></button>
				{{/each}}
			</ul>
		</div>

		<div class="presetWorkout">
			<h3>Our App Creates Pre-Made Workouts for you!</h3>
			<button onclick="ga( 'create', 'UA-135197093-1', 'auto' ); ga('send', 'event', 'like', 'click');" id="preworkout_btn"><a href="premade">Learn More</a></button>
		</div>








</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
