<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/indexcss.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<!--Buttons/Header-->
		<header> 
			{{#each nav_title}}
				<button id="nav_btn"><a href="project/{{name}}">{{name}}</a></button>
			{{/each}}
		</header>
		
		<h1 class="web_name"> WorkOut Builder</h1>
	
		<button class = "start_center">Start</button>


	</div>
</body>
	
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
