<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> facebook}}
	{{> google}}
	<script src="/js/facebook.js"></script>
	
</head>

<body>
	<div class="container">
		<form method="post" id="loginform">
			<h1 class="web_name_start">P91X</h1>
			<h2>Login</h2>
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" id="fb">
			</fb:login-button>
			<h5><a href = "/index">Login</a></h5>
		</form>
	</div>

</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
