<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
	<header>
		<div class="container">
			<div class="jumbotron">
					<h1>{{projectName}}</h1>
					<p>Try and go back to the first screen</p>
			</div>
		</div>
	</header>
	<ol>
		<button type="button"><li><a href="../">Hello</a></li></button>
	</ol>
	<img src="../squat.jpg" alt="Squat" height="42" width="42">
	<h3>Squats</h3>
	<!--Include json files for workouts in week 6, SEE LAB4 for help-->

	


</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
