<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/indexcss.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h1 class="web_name_start">Start</h1>
		<h2>What do you want to workout today?</h2>
		<br><button id="back_btn" onclick="window.history.back()"><a href="">Back</a></button>
	</div>

</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
