<html>
<head>
	<title>Start</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/startcss.css" rel="stylesheet">
	<script src="/js/script.js" type="text/javascript"></script>


</head>

<body>
	<div class="container">
		<h1>How often do you want to be reminded to go to your next workout?</h1>
	</div>
	<div class="time_edit_container">

	</div>
	<br><button id="back_btn" onclick="window.history.back()"><a href="">Back</a></button>


</body>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
