<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet">
	{{> google}}
</head>

<body>
    
   <div class="timer">
        <h1>{{exercise.name}}</h1>
        <input type="hidden" id="name" value={{exercise.name}}>
        <input type="hidden" id="exer_interval" value={{exercise.interval}}>
        <input type="hidden" id="total_exer" value={{exercise.total_exercises}}>

            <div id = "time_display">
                00:00:00
            </div>
            <div class="buttons">
                <button id="startStop" onclick="startStop()">GO</button>
                <button id="reset" onclick="reset()">Reset</button>
            </div>
    </div>

    <div class="home-btn">
			<ul>
				<button id="app_btn"><a href="../index">Home</a></button>
                <button id="app_btn"><a href="../help">Help</a></button>
			</ul>
	</div>

</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/timer.js" type="text/javascript"></script>
</body>
</html>
