body{
	margin: 0px ;/*outside object*/
	padding: 0px; /*inside object*/
}


.container{
	text-align: center;
}

#nav_btn{
	padding: 10px 20px;
	margin: 10px 4px;
	position: relative;
	left: 50%;
	top: 120px;
	margin-left:-150px; 
	width: 300px;
	border: 3px solid #42bcf4;
	background: none;
	font-size: 36px;
	font-family: sans-serif;
	cursor: pointer;
	display: block;
	

}

.start_center{
	bottom: 10%;
	left: 48%; /*this centers the button*/
	margin: 4px 5px;
	padding: 20px;
	border: solid black;
	border-radius: 50%;
	position: absolute;
	background-color: #f97f7f;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	transform: translateX(-39%) translateY(0%);
}

.web_name{
	position: relative;
	top: 70px;
	font-size: 56px;
	font-family: sans-serif;
}

.web_name_start{
	margin: 10px;
	padding: 8px;
	position: auto;
	top: 50px;
	border-radius: 25px;
	border: 3px solid #42bcf4;
	background-color: red;
	font-size: 36px;
	font-family: sans-serif;
}

#back_btn{
	padding: 10px 20px;
	margin: 10px 4px;
	position: relative;
	top: 370px;
}

/*ABOVE IS THE HOME PAGE*/
/*BELOW IS THE SECOND SCREEN*/

