body{
	margin: 0px ;/*outside object*/
	padding: 0px; /*inside object*/
	background: #ededed;
	font-family: "verdana", sans serif;
}
h1{
	text-align: center;
	margin-top: 17%;
	color: #254260;
}
h2{
	margin-left: 3%;
}
h3{
	text-align: center;
	font-size: 90%;
	font-weight: lighter;
}
h5{
	text-align: right;
	margin-right: 40%;
	font-size: 25px;
	color:lightblue;
}
/*#fblogin{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}*/

#fblogin{
	display: table;
	margin: 0 auto;
	margin-top: 3%;
}
#signup{
	margin-left: 
}
#inputForm{
	margin-left: 4%;
}
#input1{
	width: 45%;
	height: 5%;
	margin-top: 2%;
	border-radius: 7px;
}
#input2{
	width: 45%;
	height: 5%;
	margin-top: 2%;
	border-radius: 7px;
}
#input3{
	width: 90%;
	height: 5%;
	margin-top: 2%;
	border-radius: 7px;
}
#input4{
	width: 90%;
	height: 5%;
	margin-top: 2%;
	border-radius: 7px;
}