body{
	margin: 0px ;/*outside object*/
	padding: 0px; /*inside object*/
	background: #ff695e;
	font-family: "verdana", sans serif;
}
h1{
	color:#254260;
}
header{
	margin: 2%;
	padding: 2%;
	width: 90%;
	/*background:#f8fcb5 ;
	border:1px solid;*/
	
}

a{
	text-decoration: none;
}
/*p91 title*/
#app_title{
	text-align: center;
}

/*history block*/
.myexercises{
	margin: 2%;
	padding: 2%;
	width: 90%;
	border:0px;

}
h4 {
  text-decoration: underline;
}
#all_exer{
	list-style-type: none;
	display: block;
	width: 250px;
	background-color: #eef5db;
	align-items: center;
	 text-align: center;
	 padding: 15px;
	 font-size: 25px;
}

 li{
 	text-align: center;
  border-bottom: 1px solid #555;
  padding-bottom: 15px;
 }
 li:last-child {
  border-bottom: none;
}

#addworkout_btn{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	font-size: 25px;
	
}




}
#preset_btn{
	display: block;
	margin: 3% 0% 3% 0%;
	padding: 3%;
	width: 70%;
	border: 1px solid blue;
	background: white;
	text-align: left;
	display: block;
	position: sticky;
	bottom: 0;
}
/*nav bar*/
.home-btn{
	list-style-type: none;
/*	margin: 5% 2% 2% 2%;
	padding: 2%*/
	width: 95%;
	bottom:1%;
	margin-left: 2%;
	position:fixed;
	overflow: hidden;
	background: white;
	border:2px solid #42bcf4;
	border-radius: 6px;
}

#app_btn{
	margin: 0% 4% 0% 4%;
	width: 35%;
	background: white;
	border: 2px solid #42bcf4;
	border-radius: 6px;
	
	font-size: 20px;
}
/*timer*/
#time_display{
font-size:50px;
text-align: center;
margin-top: 15%;
}
#startStop{
	font-size: 20px;
	border: 2px grey;
	background: #B0E0E6;
	border-radius: 9px;
	margin-left: 25%;
	margin-top: 5%;
	text-align: center;
	padding: 10px;
}
#reset{
	font-size: 20px;
	border: 2px grey;
	background: #B0E0E6;
	border-radius: 9px;
	padding: 10px;
	margin-right: 25%;
	margin-top: 5%;

}
#list-exer{
	font-size: 20px;
	margin-left: 5%;
	color: green;

}
.timer{
	font-size: 20px;
	text-align:center;
}
/*submit button*/
#exer_btn{
	font-size: 24px;
	margin-left: 30%;

}

/*add workout info*/
#data_form{
	margin-left: 5%;
	font-size: 18px;



}