body{
	margin: 0px ;/*outside object*/
	padding: 0px; /*inside object*/
	background: #f8fcb5;
}

header{
	margin: 2%;
	padding: 2%;
	width: 90%;
	background: blue;
	border:2px solid;
}

a{
	text-decoration: none;
}
#app_title{
	text-align: center
}


.myexercises{
	margin: 2%;
	padding: 2%;
	width: 90%;
	border:2px solid;
}

#preset_btn{
	display: block;
	margin: 3% 0% 3% 0%;
	padding: 3%;
	width: 70%;
	border: 2px solid black;
	background: white;
	text-align: left;
}
.home-btn{
	margin: 5% 2% 2% 2%;
	padding: 2%
	width: 90%;
	bottom: 2%;
	background: white;
	border:2px solid;
}

#app_btn{
	margin: 0% 4% 0% 4%;
	width: 35%;
	background: white;
	border: 2px solid #42bcf4;
	font-size: 20px;
}